<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
	</head>
	<body>
		<main>
			<div class="jumbotron">
				<p>Welcome to templating using EJS</p>
				<% rows.forEach(function (row) { %>
          <%= row.tag %>
          <div>
              <%= row.content.result %>
          </div>
				<% }) %>
			</div>
		</main>
	</body>
</html>
